.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
.App {
  background-image: url("./component/image/top-view-international-worker-s-day-still-life.jpg");
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
